<div class="banner" style="background-image:  linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://static.wixstatic.com/media/ea1223_68d5ca77e10844528ce37f26eeeb29d4~mv2.jpeg/v1/fill/w_1954,h_1356,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/AdobeStock_199274981.jpeg);">
  <div class="container">
    <div class="list-form">
      <div class="title-list">
        <h1>Create new list!</h1>
      </div>
      <%= simple_form_for @list do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit 'submit', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
