// Specific CSS for your home-page
.container {
  width: 1200px;
}

.footer {
  background: #FC6E51;
  height: 50px;
  padding: 0px 30px;
  color: rgba(0,0,0,0.3);
  align-items: center;
  display: flex;
  opacity: 0.9;
  justify-content: space-between;
}

.fa-solid.fa-arrow-up-short-wide {
  color: rgba(0,0,0,0.4);
  opacity: 0.7;
  font-size: 25px;
}

.list-form {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
  font-size: 22px;
  label {
    opacity: 0.8;
  }
}

.fa-solid.fa-utensils{
  color: rgba(0,0,0,0.4);
  opacity: 0.7;
  font-size: 25px;
}

body {
  background-color: white;
}

.middle-content {
  text-align: center;
  margin: 30px;
}

.breakfast-sample {
  text-align: center;
  height: 500px;
  background-color: #FFF8F0;

  h2 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: bold;
  }

  h3 {
    padding-bottom: 50px;
    opacity: 0.7;
  }
}

.breakfast-icon-wrapper {
  background-color: white;
  text-align: center;
  margin-bottom: 60px;

  h2 {
    margin-top: 50px;
    font-weight: bold;
  }
}

.fa-solid.fa-bowl-food {
  font-size: 80px;
  padding: 10px 70px;
  color: #58B496;
}

.fa-solid.fa-champagne-glasses {
  font-size: 80px;
  padding: 10px 70px;
  color: #58B496;
}

.fa-solid.fa-leaf {
  font-size: 80px;
  padding: 10px 70px;
  color: #58B496;
}

.single-icon {

}

.icon-wrapper {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 50px;
}

.card-wrapper {
  background-color: #FFF8F0;
}

.sample-image-wrapper {
  display: flex;
  justify-content: space-around;
}

.sample-image {
  object-fit: cover;
  border-radius: 10px;
  height: 200px;
  width: 250px;
}

// @media screen and (max-width: 499px) {
//   /*　画面サイズ 499pxまで適用　*/
//   h2 {
//     color: red;
//   }
// }

// @media screen and (min-width: 500px) and (max-width: 999px) {
//   /*　画面サイズ 500pxから999pxまで適用　*/
//   h2 {
//     color: green;
//   }
// }

// @media screen and (min-width:1000px) {
//   /*　画面サイズ 1000px以上から適用　*/
//   h2 {
//     color: blue;
//   }
// }
