.banner {
  background-size: cover;
  background-position: center;
  height: 450px;
  background-size: cover;
  position: relative;

  .delete-list {
    color: white;
    position: absolute;
    top:8px;
    right:16px;
    text-decoration: none;
    font-size: 30px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
}

.banner-content {
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-wrapper {
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  text-align: center;
  padding-top:150px;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

/* text*/
.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

.title-list h1 {
  padding-top: 20px;
  color:black !important;
  opacity: 0.8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}
