<div class="footer">
  <%= link_to lists_path do %>
    <i class="fa-solid fa-utensils"></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fa-solid fa-arrow-up-short-wide"></i>
  <% end %>
</div>
